.droppable {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 63vh;
}
.droppable img {
  z-index: 1;
}
.droppable:before {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 63vh;
  content: "";
  background: url("/img/Gun_Wall1_F.N.G._COD4.webp");
  background-size: cover;
  background-position: center;
  filter: blur(15px) grayscale(50%);
}
