.table {
  height: 100vh;
  background: no-repeat url(/img/table.webp);
  position: relative;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
